{% extends 'admin/adminbase.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12">
                <h1 class="display-4 text-center mt-5">{{ title }}</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12  mt-5">
                <a href="" class="btn btn-success">Создать пост</a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12  mt-5">
                <h2>Список постов</h2>
                <ul>
                    {% for post in posts %}
                        <li>{{ post.title }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
